* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --pink: #ff9999;
    --gray: #333333;
    --super-light-gray: #ececfb;
}

.data-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-wrapper {
    width: 800px;
    height: 500px;
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--black);
}

.container {
    border: 1px solid var(--black);
    width: 780px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.container-top {
    width: 100%;
    height: 182px;
    background-color: var(--pink);
    color: var(--gray);
    border-bottom: 1px solid var(--black);
}

.top-text-1 {
    font-size: xx-large;
    margin: 15px 100px;
}

.top-text-2 {
    font-size: 20px;
    margin: 30px 75px;
}

.container-bottom {
    display: flex;
    height: 298px;
}

.container-bottom-left {
    background-color: yellow;
    width: 575px;
    height: 100%;
    text-align: center;
    padding: 5px 10px;
    border-right: 1px solid var(--black);
}

.container-bottom-left img {
    width: 100%;
    height: 100%;
}

.container-bottom-right {
    width: 205px;
    background-color: var(--super-light-gray);
    text-align: center;
}

.container-bottom-right img {
    margin-left: 10px;
    margin-top: 10px;
    width: 140px;
    height: 150px;
}

.about-me-title {
    font-size: 30px;
    color: var(--gray);
    margin-bottom: 10px;
}

.about-me-content {
    color: var(--gray);
    margin: 0 10px;
    font-size: 17px;
}